# maven ignore
target/

# package ignore
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
/*/target/*
/*/*/target/*

# temp ignore
*.class
*.log
*.cache
*.diff
*.patch
*.tmp
*.pyc
bin/
soa-backup/
*.txt

# system ignore
.DS_Store
Thumbs.db
*.so

# php ignore
/*/*/vendor/*
